
tkg-bttn{ 
    pointer-events: auto !important;  
    cursor: pointer !important;
    
}

.tkg-sub-bttn{
    position: absolute;
    width: inherit;
    height: inherit;
    outline: none;
    border: 1px solid transparent;
    background: inherit;
    border-radius: 1rem;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0.75rem;
    
    display: table-cell;
    vertical-align: middle;
    
    color: #FFFFFF;
}

.tkg-sub-bttn:active, .tkg-bttn{
    
    transform: translateY(1.5px); 
} 